{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        ["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }]
      ]
    },
    "production": {
      "plugins": [["import", { "libraryName": "antd", "libraryDirectory": "es", "style": "css" }]]
    }
  }
}
