@import 'colors.pcss';
@import 'variables.pcss';

.login-form {
  text-align: left;
}

.auth-input:first-child {
  margin: $form-margin $form-margin 10px $form-margin !important;
  height: 40px;
}

.auth-input:last-child {
  margin-bottom: 20px !important;
}

.auth-input {
  margin: 20px $form-margin !important;
}

.auth-input button {
  height: $element-height;
  width: 100%;
}
