@import 'colors.pcss';

.header-body {
  background-color: $element-background;
  border: 1px solid $element-border;
  height: 65px;
  display: flex;
  align-items: center;
}

.site-name {
  font-family: 'Roboto';
  font-weight: bold;
}
