@import 'colors.pcss';

html,
#root,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: $element-foreground-color;
}

#root::after {
  content: '';
  background: url(../assets/background.png);
  background-size: cover;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}
