@import 'colors.pcss';
@import 'variables.pcss';

.auth-input:first-child {
  margin: $form-margin $form-margin 10px $form-margin !important;
}

.auth-input:last-child {
  margin-bottom: 0px !important;
}

.auth-input {
  margin: 10px $form-margin !important;
}

.auth-input.button {
  height: $element-height;
}
